# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatplotLib
4. TensorFlow

| Data Science Tools |
|---|
| Jupyter Notebooks |
| ggplot2 |
| R studio |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
2+2

4

In [5]:
3*4

12

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours
- List popular languages for Data Science

## Author
Dante Celani